   .a{
         background-image: linear-gradient(to right,#fcaf1f,#0091ff);
      }
    
     .navbar {
         background-image: linear-gradient(to right,#fcaf1f,#0091ff);
         padding: 0;
        
      }
    .navbar-brand img
      {
        height: 40px;
        padding-left: 20px;
        border-radius: 65%;
      }

    .navbar-toggler
      {
        outline: none !important;     
        } 

    .fa-bars
      {
        color: #fff;
        font-size: 30px !important;
      }  
       
    .navbar-nav li
      {
        padding: 0 10px;
      }
    .navbar-nav li a
      {
        color: #fff!important;
        font-weight: 600;
        float: left;
        text-align: left;

      }
          .b{
            line-height: 170px;
            font-family: 'Bodoni Moda', serif;
            color: #fcaf1f;
            margin-top: -40px;

          }
          .c{
          margin-top: -70px;
          color: #fcaf1f;

          }
          .d{
            text-align: justify;
          }
          .inner{
  overflow: hidden;
}

.inner img{
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.5);
}
          .e{
            width: 100%;
            height: 260px;
            margin-top: 7px;
          }
          .f{
            width: 27%;
            background-color: red;
            margin-top: -5px;
          }
          .g{
            width: 27%;
            background-color:  red;
            margin-top: -20px;
          }
          .img4{
              width: 100%;
                height: 300px;
                margin-top: 20px;
                margin-bottom: 20px;
                border-radius: 50%;
          }
          .heading5{
                font-family: 'Bodoni Moda', serif;
                font-weight: bold;
                margin-top: 20px;
                color: #fcaf1f;
                text-align: left;
          }
          
               .z{
              color: #fff;
                  }
              .paragraph2{
                color: #c4f13c;
                text-align: left;
                
              }
              .paragraph3{
                color: #00ff7e;         
              }
              .paragraph4{
                color: #00ff7e;
                text-align: left!important;
              }
              .icon{
                width: 40px;
                font-size: 2rem; 

              }
            .policy{
            background-image: linear-gradient(to right,#fcaf1f,#0091ff);
              height: 70px;

            }